@import './styles/main.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
  margin: auto;
  width: 70%;

  .header {
    .title {
    }
  }

  .keyboard-container {
    margin-bottom: 2rem;

    .text {
      height: 40rem;
      resize: none;
      margin-bottom: 5rem;
      width: 100%;
    }

    .keyboard {
      display: flex;
      flex-flow: column;
      align-items: center;

      .key {
        height: 5rem;
        min-width: 5rem;
        margin: 0.5rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-flow: column;
    align-items: center;

    .row {
      font-size: 1.5rem;
    }
  }
}
